@font-face {
    font-family: 'Lato';
    src: url('../fonts/latolight.woff2') format('woff2'), url('../fonts/latolight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/latoregular.woff2') format('woff2'), url('../fonts/latoregular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/latoitalic.woff2') format('woff2'), url('../fonts/latoitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/latobold.woff2') format('woff2'), url('../fonts/latobold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Sans';
    src: url('../fonts/droidsans.woff2') format('woff2'), url('../fonts/droidsans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Sans';
    src: url('../fonts/droidsansbold.woff2') format('woff2'), url('../fonts/droidsansbold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
