body {
  min-width: 320px;
  margin: 0;
  font-family: Lato, Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
}

.parallax {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
  background: #a2beb7 url('../img/bg_mobile.jpg') top center no-repeat;
  background-size: cover;

  @media #{$tablet-widths} {
    background: #a2beb7 url('../img/bg_tablet.jpg') top center no-repeat;
  }

  @media #{$desktop-widths} {
    background: #a2beb7 url('../img/bg.jpg') top center no-repeat;
  }
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &--background {
    -webkit-transform: translateZ(-0.3px) scale(1.35);
    transform: translateZ(-0.3px) scale(1.35);
    background: #a2beb7 url('../img/bg_mobile.jpg') top center no-repeat;
    background-size: 688px;
    height: 920px;
    overflow: hidden;

    @media #{$tablet-widths} {
      background: #a2beb7 url('../img/bg_tablet.jpg') top center no-repeat;
      background-size: 1216px;
    }

    @media #{$desktop-widths} {
      background: #a2beb7 url('../img/bg.jpg') top center no-repeat;
      background-size: cover;
    }
  }

  &--foreground {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
