section.main-content
  .main-content__wrapper
    .main-content__first-column
      p.main-content__first-column-text
       | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
       | Donec leo nisi, feugiat vel placerat vitae, vulputate ac nibh.
       | Ut scelerisque quis nulla sed tempor.

      .main-content__first-column-nav
        .main-content__nav-prev
        .main-content__nav-next.main-content__nav-next--disabled

    .main-content__second-column
        h4.main-content__title Lorem ipsum dolor sit amet consectetur

        p.main-content__second-column__text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
          | leo nisi, feugiat vel placerat vitae, vulputate ac nibh. Ut
          | scelerisque quis nulla sed tempor. Maecenas viverra leo sed
          | risus laoreet rutrum. Praesent lobortis ultrices vestibulum.
          | Mauris rhoncus sagittis elit, a congue justo eleifend adipiscing.
          | Ut pulvinar dignissim ante, at mollis justo laoreet et. Vestibulum
          | viverra purus ligula, in placerat sapien condimentum nec. In diam
          | nulla, pharetra dapibus molestie vitae, luctus a ante.
