doctype html
html(lang='en')

  include ../partials/head.jade

  body

    .parallax
      .parallax__layer.parallax__layer--background
      .parallax__layer.parallax__layer--foreground

        include ../blocks/slide.jade

        include ../blocks/main-content.jade

        include ../partials/footer.jade

    include ../partials/scripts.jade
