.main-content {
  background-color: #ffffff;
}

.main-content__wrapper {
  position: relative;
  padding: 10px;
  background-color: #ffffff;

  @media #{$desktop-widths} {
    display: flex;
    justify-content: space-between;
    max-width: $desktop-width-wrapper;
    margin: 0 auto;
    padding: 54px 0 87px;
  }
}

.main-content__first-column {
  padding-bottom: 48px;

  @media #{$desktop-widths} {
    width: 270px;
    padding-bottom: 0;
    padding-right: 40px;
    border-right: 1px solid #eaeaea;
  }

  .main-content__first-column-text {
    margin: 0;
    position: relative;
    font-size: 20px;
    line-height: 28px;
    color: #fe992a;
    font-style: italic;
    word-spacing: -1px;

    &::before {
      content: '“';
      position: absolute;
      top: -37px;
      left: 0;
      display: block;
      font-family: 'Lato', sans-serif;
      font-size: 48px;
      line-height: 60px;
      font-style: italic;
    }

    &::after {
      content: '”';
      display: inline-block;
      vertical-align: top;
      margin-top: 21px;
      font-family: inherit;
      font-size: 48px;
      line-height: 60px;
      font-style: italic;
    }
  }

  .main-content__first-column-nav {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 18px;
    padding-right: 24px;

    @media #{$desktop-widths} {
      margin: 34px 0 18px;
    }

    .main-content__nav-prev,
    .main-content__nav-next {
      position: relative;
      width: 30px;
      height: 30px;
      background-color: #fe992a;

      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 7px;
        height: 7px;
        border-left: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
      }

      &:hover {
        cursor: pointer;
      }

      &--disabled {
        background-color: #ffba6e;

        &:hover {
          cursor: default;
        }
      }
    }
  }

  .main-content__nav-prev::before {
    top: 11px;
    left: 13px;
    transform: rotate(45deg);
  }

  .main-content__nav-next::before {
    top: 11px;
    left: 9px;
    transform: rotate(-135deg);
  }
}

.main-content__second-column {
  padding-bottom: 50px;

  @media #{$desktop-widths} {
    max-width: 590px;
    padding-bottom: 0;
  }

  .main-content__title {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    color: #fe992a;
    font-weight: 400;
  }

  .main-content__second-column__text {
    margin: 18px 0 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: #737c85;
    font-weight: 400;
  }
}
