.slide {
  position: relative;
  min-height: 620px;
  padding-bottom: 40px;

  @media #{$desktop-widths} {
    min-height: 880px;
  }
}

.slide__wrapper {
  @media #{$tablet-widths} {
    max-width: $desktop-width-wrapper;
    margin: 0 auto;
  }
}

.slide__text-wrapper {
  padding: 0 20px;

  @media #{$tablet-widths} {
    text-align: center;
  }

  @media #{$desktop-widths} {
    max-width: 400px;
    padding: 0 10px;
    text-align: left;
  }
}

.slide__title {
  font-size: 52px;
  line-height: 62px;
  font-weight: 300;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  word-spacing: -1px;

  @media #{$desktop-widths} {
    margin: 105px 0 21px;
  }
}

.slide__text {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.slide__bg-layer {
  position: absolute;
  left: 0;
  width: 100%;
  background-size: cover;

  &--back {
    bottom: -75px;
    height: 150px;
    background-image: url('../img/slide_second_bg.svg');
  }

  &--front {
    bottom: -95px;
    height: 156px;
    background-image: url('../img/slide_first_bg.svg');
  }
}
