head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title I feel
  link(rel='stylesheet' href='css/style.min.css')
  link(rel='icon' type='image/png' href='img/logo_small.png')
